<h1>What would you like to do?</h1>


Year :<%= @inv.year %> 
<br>
Make :<%= @inv.make %>
<br>
Model :<%= @inv.model %>
<br>
Type :<%= @inv.kind %>

<br>
<br>

<a href="/inventories">Go back to all of your Vehicles</a><br><br>
<%if authorized_user?(@inv)%>
    <a href="/inventories/<%= @inv.id %>/edit">Edit or Delete this Vehicle</a>
<%end%>

